<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
    		<p>
            Hi :) I'm Rodrigo, an enthusiastic full stack software developer, with +5 years on software industry,
            +4 years developing web applications and a strong desire to increase those numbers (and add new ones).<br>
            I'm always committed to team environment dynamics, to provide excellent quality results and 
            to maintain my skills up-to-date.
            <!-- I have excellent problem-solving and debugging skills and a great willingness to learn. -->
        </p>
        <p>
            I'm very passionate about software development and all tech related,
            about how it can and could help or benefit people, and the way I can contribute to that,
            so day by day I do my best to keep improving, and try to grow both, as a professional
            and as a person.
        </p>
    </div>
  </div>
</section>
