<section class="tout" id="experience"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work Experience</h2>
                    <hr />
                </div>
            </div>

            <div class="row experience">
                <h3>Smartflow</h3> <div class="city">| <i class="fa fa-map-marker" style="font-size:24px"></i> Dublin, Ireland </div>
                <h4> Software Engineer</h4>
                <div>03/2019 - Present</div>
                <ul>
                    <li>
                        Worked with IoT devices
                    </li>
                    <li>
                        Developed internal tools in several technologies/languages
                    </li>
                    <li>
                        Designed and managed several action plans
                    </li>
                </ul>
            </div>
            <br>
    
            <div class="row experience">
                <h3>Safigen</h3> <div class="city">| <i class="fa fa-map-marker" style="font-size:24px"></i> San Francisco, California </div>
                <h4> Full Stack Software Developer</h4>
                <div>02/2018 - 10/2018</div>
                <ul>
                    <li>
                        Designed and developed responsive front-end to show real-time IoT data, with configurable dashboard and alert system, with Vue JS.
                    </li>
                    <li>
                        Developed several microservices to handle all incoming data, with Node JS.
                    </li>
                    <li>
                        Designed and implemented SQL/NoSQL databases.
                    </li>
                    <li>
                        Trained the new team members and staff.
                    </li>
                </ul>
            </div>
            <br>

            <div class="row experience">
                <h3>Sovos</h3> <div class="city">| <i class="fa fa-map-marker" style="font-size:24px"></i> Tucumán, Argentina </div>
                <h4> Software Engineer</h4>
                <div>12/2016 - 02/2018</div>
                <ul>
                    <li>
                        Improved a web application that handles and processes reports, and shows the result graphically for data analysis. Developed several modules and a restful API. Worked with React JS and Node JS.
                    </li>
                    <li>
                        Maintained a web application that processes report files and shows detailed results. Developed with HTML and PHP. Simultaneously migrated its front-end to React-Redux.
                    </li>
                    <li>
                        Provided training for new/other teams members.
                    </li>
                </ul>
            </div>
            <br>

            <div class="row experience">
                <h3>Farmacia Santo Domingo</h3> <i class="fa fa-map-marker" style="font-size:24px"></i> Tucumán, Argentina </div>
                <h4> Software Developer (Freelancer)</h4>
                <div>06/2016 - 12/2016</div>
                <ul>
                    <li>
                        Designed and developed management application for branches, to keep track of sales, suppliers, inventory and additional information, with Node JS, HTML, Bootstrap and MySQL.
                    </li>
                </ul>
            <br>

            <div class="row experience">
                <h3>Post & Fun</h3> <div class="city">| <i class="fa fa-map-marker" style="font-size:24px"></i> Tucumán, Argentina </div>
                <h4> Software Engineer (Freelancer)</h4>
                <div>06/2016 - 12/2016</div>
                <ul>
                    <li>
                        Designed and built a social network with HTML, JavaScript, CSS, PHP, MySQL and in-house servers.                    </li>
                </ul>
            </div>
            <br>
        </div>
    </section>
    