<section class="tout" id="experience"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work Experience</h2>
                    <hr />
                </div>
            </div>

            <div class="row experience">
                <h3>Smartflow</h3> 
                <div class="city">| 
                    <span class="fa fa-map-marker"></span> Dublin, Ireland
                    | <span class="fa fa-link"><a href="https://www.mysmartflow.ie" target="_blank"> Website</a></span>
                </div>
                <h4> Full Stack Software Engineer</h4>
                <div>03/2019 - Present</div>
                <ul>
                    <li>
                        Creating and designing technical strategies for products and features. Analyzing and implementing technological needs as well as its R&D.
                    </li>
                    <li>
                        Designing, providing software solutions and maintaining applications and functionalities for managing IoT devices mainly in C# and JavaScript.
                    </li>
                    <li>
                        Developing tools for testing and debugging applications and devices.
                    </li>
                    <li>
                        Structuring and working on server and cloud services, products and databases architecture.
                    </li>
                </ul>
            </div>
            <br>
    
            <div class="row experience">
                <!-- <h3>Travelling</h3> 
                    <div class="city">| <span  class="fa fa-map-marker"></span> Europe </div> -->
                <i><h4> Travelling</h4></i>
                <div>11/2018 - 01/2019</div>
                <ul>
                    <li>
                        Took three months out to immerse myself in a different culture, get to know new places and new people.
                    </li>
                    <li>
                        Gained a new perspective, and improved abilities to adapt to unanticipated situations and improvise new plans.
                    </li>
                    <li>
                        Improved language and communication skills through contact with people from around the world.
                    </li>
                    <li>
                        Kept up-to-date my tech stack.
                    </li>
                    
                </ul>
            </div>
            <br>

            <div class="row experience">
                <h3>Safi Analytics</h3> 
                <div class="city">| 
                    <span class="fa fa-map-marker"></span> San Francisco, California
                    | <span class="fa fa-link"><a href="https://safianalytics.com" target="_blank"> Website</a></span>
                </div>
                <h4> Full Stack Software Developer</h4>
                <div>02/2018 - 10/2018</div>
                <ul>
                    <li>
                        Designed and developed responsive Vue JS front-end to show real-time IoT data with different useful features.
                    </li>
                    <li>
                        Developed several Node JS microservices to handle and process all incoming data and to support each feature.
                    </li>
                    <li>
                        Designed and implemented SQL/NoSQL databases.
                    </li>
                    <li>
                        Trained the new team members and staff.
                    </li>
                </ul>
            </div>
            <br>

            <div class="row experience">
                <h3>Sovos</h3> 
                <div class="city">| 
                    <span class="fa fa-map-marker"></span> Tucumán, Argentina
                    | <span class="fa fa-link"><a href="https://sovos.com/" target="_blank"> Website</a></span>
                </div>
                <h4> Full Stack Software Developer</h4>
                <div>12/2016 - 02/2018</div>
                <ul>
                    <li>
                        Designed and built a React-Redux frontend for web application that processes and graphically shows reports for data analysis. Developed several modules and a restful API for its Backend with Node JS.
                    </li>
                    <li>
                        Maintained and added several features to an existing web application, working with HTML, CSS and PHP. Simultaneously, migrated its front-end to a React-Redux architecture.
                    </li>
                    <li>
                        Provided training for new/other teams members.
                    </li>
                </ul>
            </div>
            <br>

            <div class="row experience">
                <h3>Freelancer</h3> 
                <div class="city">| 
                    <span class="fa fa-map-marker"></span> Tucumán, Argentina
                </div>
                <h4> Software Developer</h4>
                <div>10/2015 - 12/2016</div>
                <ul>
                    <li>
                        Provided software solutions to small customers. Designed and developed management application (keeping track of sales, suppliers, inventory and additional information) with different technologies.
                    </li>
                </ul>
            </div>
            
            <br>

            <!-- <div class="row experience">
                <h3>Post & Fun</h3> 
                <div class="city">| 
                    <span class="fa fa-map-marker"></span> Tucumán, Argentina
                </div>
                <h4> Software Developer</h4>
                <div>06/2016 - 12/2016</div>
                <ul>
                    <li>
                        Designed and built a simple social network with HTML, JavaScript, CSS, PHP, MySQL and in-house servers.
                    </li>
                </ul>
            </div> -->
            <br>
        </div>
    </section>
    