<!-- tout (on section) is the one giving it the background color -->
<section class="" id="projects"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    My Projects are:
                </p>
                <div class="col-md-4 col-sm-6">
                    <div class='report-module'>
                        <div class='thumbnail'>
                            <a href="#"><img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg'></a>
                        </div>
                        <div class='post-content'>
                            <!-- <div class='category'>United States</div> -->
                            <div class='title'>People CRUD</div>
                            <p class='description'>A simple People CRUD app developed with Vue JS</p>
                            <div class='post-meta'>
                                <span class='timestamp'>
                                    <a class="btn btn-primary" href='https://github.com/rodrigoabb/simple_people_manager' target="_blank">
                                        <i class="fa fa-github" style="font-size:24px"></i> &nbsp Go to Repository
                                    </a>
                                </span>
                                <span class='comments'>
                                    <a class="btn btn-primary" href='https://simple-people-crud.herokuapp.com' target="_blank">
                                        Go to Demo &nbsp <i class="fa fa-desktop" style="font-size:24px"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="col-md-4 col-sm-6">

                    <div class='report-module'>
                        <div class='thumbnail'>
                            <a href="#"><img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg'></a>
                        </div>
                        <div class='post-content'>
                            <div class='title'>Promocode API</div>
                            <p class='description'>
                                Promocode API is a Node JS API for you to implement.  and provide, manage and use codes (to get free rides, discounts or who knows?)</p>
                            <div class='post-meta'>
                                <span class='timestamp'>
                                    <a class="btn btn-primary" href='https://github.com/rodrigoabb/promocode-api' target="_blank">
                                        <i class="fa fa-github" style="font-size:24px"></i> &nbsp Go to Repository
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
