<!-- tout (on section) is the one giving it the background color -->
<section class="" id="projects"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    My Projects are:
                </p>
                <div class="col-md-4 col-sm-6">
                    <div class='report-module'>
                        <div class='thumbnail'>
                            <a href="#"><img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg'></a>
                        </div>
                        <div class='post-content'>
                            <div class='category'>United States</div>
                            <h1 class='title'>FIS Consumer Banking PACE Index</h1>
                            <p class='description'>The FIS Consumer Banking PACE Index™ indicated that two-thirds of banked consumers in the United States beieve their primary banking providers are not meeting expectations across a range of factors essential to building relevance and trust.</p>
                            <div class='post-meta'>
                                <span class='timestamp'>
                                    <a class="btn btn-link" href='#'>Access Report</a>
                                </span>
                                <span class='comments'>
                                    <a class="btn btn-primary" href='#'>View Infographic</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
