<!-- tout (on section) is the one giving it the background color -->
<section class="" id="skills"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills & Abilities</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    My Skills are:
                </p>
	            <div class="col-sm-3">
                    <h4>Frontend</h4>
                    <ul>
                        <li>JavaScript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Vue JS</li>
                        <li>React JS</li>
                        <li>Redux</li>
                    </ul>
                </div>
	            <div class="col-sm-3">
                    <h4>Backend</h4>
                    <ul>
                        <li>Node JS</li>
                        <li>Java</li>
                        <li>SQL / NoSQL</li>
                        <li>API Design</li>
                        <li>C#</li>
                        <li>PHP</li>
                    </ul>
                </div>
	            <div class="col-sm-3">
                    <h4>Frameworks / Utilities</h4>
                    <ul>
                        <li>Git</li>
                        <li>SDLC</li>
                        <li>CI/CD</li>
                        <li>Mocha / Chai</li>
                        <li>Jasmine / Jest</li>
                        <li>Docker</li>
                        <li>Webpack</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Others</h4>
                    <ul>
                        <li>Software design </li>
                        <li>Web development </li>
                        <li>Database design</li>
                        <li>Agile methodologies</li>
                    </ul>
                </div>

            </div>
        </div>
  </div>
</section>
