.experience h3 {
    display: inline;
}

.btn {
  /* padding: 0; */
}

.city {
    display: inline;
    font-size: 1.40em;
}

/* Icons */
.city span {
    font-size: 20px;
}

.city span a {
  color: inherit;
  font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.contenedor {
  position: absolute;
  width: 90%;  
  bottom: 10%;
}

.git-button {
  position: relative;
  left: 0%;
  /* float: left; */
}

.demo-button {
  /* position: relative; */
  /* right: 0%; */
  float: right;
}

.card-button {
  padding: 6px 8px;
}

.comments {
  /* position: absolute; */
  float: right;
  right: 0;
}

.timestamp {
  /* position: absolute; */
  float: left;
  left: 0;
  margin: 0 10px 0 0;
}

.company-link {
  font-size: 18px;
}

.section-list li a {
  padding-right: 7px;
  padding-left: 7px;
  display: inline-block;
  /* float: left; */
}

.section-option {
  color: #FFFFFF;
}

.navbar-option {
  font-size: 15px;
}

 /* /////////////////////////////////////////////// */
.post-content {
  height: 75%;
}

 .post-meta {
    /* display: flex; */
    position: absolute;
    width: 90%;
    bottom: 10%;
 }

 .report-module {
    position: relative;
    margin: 30px 0;
    z-index: 1;
    display: block;
    background: #ffffff;
    min-width: 270px;
    width: 300px\9;
    height: auto;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .report-module .thumbnail {
    background: #009775;
    height: 300px;
    overflow: hidden;
  }
  .thumbnail {
      padding: 0;
  }

  .report-module {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  }
  .report-module:hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
  }
  .report-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    opacity: .2;
  }
  .report-module .post-content {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  }
  .report-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #333;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .report-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
  }
  
  .report-module .post-content .description {
    display:block;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
  }
  .report-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
  }
  .report-module .post-content .post-meta {
    margin: 0 10px 0 0;
  }
  
  .btn-primary {
    color: #fff;
    text-decoration: none;
  }